
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
.attribution { 
    font-size: 11px; 
    text-align: center;
    display: none;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(210, 46%, 95%);
    font-family: "Manrope",sans-serif;
    font-size: 16px;
    
}
main{
    background-color: #fff;
    margin: 70px 24px 30px 24px;
    border-radius: 10px;
    /* color: ; */
}
.drawers{
    width: 250;
    height: 230px;
}
.drawers img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.article-info{
    padding: 40px 30px 10px;
}
.article-info h2{
    color: hsl(217, 19%, 35%);
    font-size: 18px;
}
.article-info p {
    padding-top: 15px;
    color:  hsl(214, 17%, 51%);
    font-weight: 400;
    
}
.profile{
    display: flex;
    margin-top: 10px;
    position: relative;
}
.profile-info{
    display: flex;
}
.profile-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px 10px 10px 0;
}
.profile-info p {
    display: flex;
    flex-direction: column;
    /* margin-left: 5px; */
}
.profile-info p .author{
    color: hsl(217, 19%, 35%);
    font-weight: 600;

}
.profile .fas{
    font-size: 19px;
    color:hsl(217, 19%, 35%);
    padding: 8px;
    border-radius: 50px;
    text-align: right;
    background-color:    hsl(210, 46%, 95%);
   position: absolute;
   right: 0;
   bottom: 20px;

    
    border: 1px solid  hsl(210, 46%, 95%);
    
}
.social-media{
    background-color: hsl(217, 19%, 35%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* margin: 20px; */
}
.social-media .icons {
    margin-left: 30px;
    padding: 25px;
    display: flex;
}
.icons p {
    
}
.icons .fab{
    font-size: 30px;
    margin-left: 20px;
}

   
